<div>
    <h2 id="page-heading">
        <span jhiTranslate="doctorScheduleApp.doctors.home.title">Doctors</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-doctors" [routerLink]="['/doctors/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="doctorScheduleApp.doctors.home.createLabel">
            Create new Doctors
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="doctors">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="doctorScheduleApp.doctors.firstName">First Name</span></th>
            <th><span jhiTranslate="doctorScheduleApp.doctors.lastName">Last Name</span></th>
            <th><span jhiTranslate="doctorScheduleApp.doctors.email">Email</span></th>
            <th><span jhiTranslate="doctorScheduleApp.doctors.phone">Phone</span></th>
            <th><span jhiTranslate="doctorScheduleApp.doctors.user">User</span></th>
            <th><span jhiTranslate="doctorScheduleApp.doctors.patients">Patients</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let doctors of doctors ;trackBy: trackId">
                <td><a [routerLink]="['/doctors', doctors.id, 'view' ]">{{doctors.id}}</a></td>
                <td>{{doctors.firstName}}</td>
                <td>{{doctors.lastName}}</td>
                <td>{{doctors.email}}</td>
                <td>{{doctors.phone}}</td>
                <td>
                    {{doctors.user?.id}}
                </td>
                <td>
                    <span *ngFor="let patients of doctors.patients; let last = last">
                            <a class="form-control-static" [routerLink]="['../patients', patients?.id, 'view' ]">{{patients.id}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/doctors', doctors.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/doctors', doctors.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'doctors', { outlets: { popup: doctors.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
