<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-patients-diseases-heading" jhiTranslate="doctorScheduleApp.patientsDiseases.home.createOrEditLabel">Create or edit a Patients Diseases</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!patientsDiseases.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="patientsDiseases.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="doctorScheduleApp.patientsDiseases.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="patientsDiseases.description" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="doctorScheduleApp.patientsDiseases.patient" for="field_patient">Patient</label>
                    <select class="form-control" id="field_patient" name="patient" [(ngModel)]="patientsDiseases.patient">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="patientsOption.id === patientsDiseases.patient?.id ? patientsDiseases.patient : patientsOption" *ngFor="let patientsOption of patients; trackBy: trackPatientsById">{{patientsOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="doctorScheduleApp.patientsDiseases.diseases" for="field_diseases">Diseases</label>
                    <select class="form-control" id="field_diseases" name="diseases" [(ngModel)]="patientsDiseases.diseases">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="diseasesOption.id === patientsDiseases.diseases?.id ? patientsDiseases.diseases : diseasesOption" *ngFor="let diseasesOption of diseases; trackBy: trackDiseasesById">{{diseasesOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
