<div>
    <h2 id="page-heading">
        <span jhiTranslate="doctorScheduleApp.diseases.home.title">Diseases</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-diseases" [routerLink]="['/diseases/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="doctorScheduleApp.diseases.home.createLabel">
            Create new Diseases
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="diseases">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="doctorScheduleApp.diseases.diseaseName">Disease Name</span></th>
            <th><span jhiTranslate="doctorScheduleApp.diseases.description">Description</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let diseases of diseases ;trackBy: trackId">
                <td><a [routerLink]="['/diseases', diseases.id, 'view' ]">{{diseases.id}}</a></td>
                <td>{{diseases.diseaseName}}</td>
                <td>{{diseases.description}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/diseases', diseases.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/diseases', diseases.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'diseases', { outlets: { popup: diseases.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
