<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="typesOfDoctor">
            <h2><span jhiTranslate="doctorScheduleApp.typesOfDoctor.detail.title">Types Of Doctor</span> {{typesOfDoctor.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="doctorScheduleApp.typesOfDoctor.specialist">Specialist</span></dt>
                <dd>
                    <span>{{typesOfDoctor.specialist}}</span>
                </dd>
                <dt><span jhiTranslate="doctorScheduleApp.typesOfDoctor.doctors">Doctors</span></dt>
                <dd>
                    <div *ngIf="typesOfDoctor.doctors">
                        <a [routerLink]="['/doctors', typesOfDoctor.doctors?.id, 'view']">{{typesOfDoctor.doctors?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/types-of-doctor', typesOfDoctor.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
